# Upon pushing to the release branch a new tag will be created
# in preparation for the release.
#
# Copyright (c) 2022 AlertAvert.com.  All rights reserved.
# Author: Marco Massenzio (marco@alertavert.com)
#
name: Release

on:
  push:
    branches:
      - release
env:
  AUTHOR: ${{ github.event.pusher.name }}
  EMAIL: ${{ github.event.pusher.email }}

jobs:
  release:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: build
        run: |
          make build

      - name: Create release tag
        run: |
          TAG=$(./get-tag)
          echo TAG=${TAG} >> $GITHUB_ENV
          git config user.name "$AUTHOR"
          git config user.email "<$EMAIL>"
          git tag -a $TAG -m "Release $TAG"
          git push --tags

      - name: Login to GitHub Container Registry
        uses: docker/login-action@v2
        with:
          registry: ghcr.io
          username: ${{ github.repository_owner }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build and push Docker images
        uses: docker/build-push-action@v4.0.0
        with:
          context: .
          file: docker/Dockerfile
          platforms: ${{ matrix.platforms }}
          push: true
          tags: ghcr.io/${{ github.repository }}:${{ env.TAG }}

      - uses: ncipollo/release-action@v1.10.0
        with:
          tag: ${{ env.TAG }}
          generateReleaseNotes: true
